body{
    background-color: black;
}
h1{
font-size:2.1rem;
line-height: 1.4;
letter-spacing: 0.5rem;
text-align: center;
color: white;
}
h2{
font-size: 1.7rem;
line-height: 1.0;
letter-spacing: 0.3rem;
text-align: center;
color: skyblue;
}
.maindiv{
	width: 500px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%,-50%);
	background-image: url('https://images.pexels.com/photos/4245051/pexels-photo-4245051.jpeg?cs=srgb&dl=pexels-levent-simsek-4245051.jpg&fm=jpg');
	background-size: 100% 100%;
	box-shadow: 1px 2px 10px 5px white;
	animation: slider 9s infinite linear;

}
@keyframes slider{
	0%{background-image: url('https://images.pexels.com/photos/4245051/pexels-photo-4245051.jpeg?cs=srgb&dl=pexels-levent-simsek-4245051.jpg&fm=jpg');}
	35%{background-image: url('https://images.pexels.com/photos/4784917/pexels-photo-4784917.jpeg?cs=srgb&dl=pexels-levent-simsek-4784917.jpg&fm=jpg');}
	75%{background-image: url('https://images.pexels.com/photos/5135437/pexels-photo-5135437.jpeg?cs=srgb&dl=pexels-levent-simsek-5135437.jpg&fm=jpg');}
}
