@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans&family=Kanit:wght@500&display=swap');
button.btn.btn-info.btn-block,button.btn.bg.btn-block{
   
    font-size: 1.7vw;
    height: 4.5vw;
    font-family: 'Kanit', sans-serif;
}
.remain{
    margin-top: 10px;
}
.initialBut{
    margin-top: 7vw;
}
.photo img{
    width: 20vw;
}
.btn.bg.btn-block.remain{
    background-color:#2475B0;
    color: white;
}
.data{
    display:flex;
    background-color:rgba(236, 236, 235, 0.952) ;
    padding: 10px;
}
.content{
    font-size: 1.5vw;
    margin-left:1vw;
    font-family:'Fira Sans', sans-serif;
}
@media(max-width:991px){
    .initialBut{
    margin-top: 16vw;
    }
    .content{
        font-size: 2.1vw;
    }
}

.dropdown.position-fixed.dropdown-menu-right{
    width: 100%;
}
.btn.btn-dark.dropdown-toggle.btn-lg{
    width: 100%; 
    text-align: left;
}
.dropdown-menu{
   width: 100%;
}
a.dropdown-item:hover{
    background-color:rgba(173, 173, 169, 0.952);
    color: rgb(0, 0, 0);
}


.Filler{
    background-color:#ffc107;
    width: 100%;
    height: 7.78vw;
    z-index:1;
    position: absolute;
}