li, a, button{
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: honeydew;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background: black;
    
}
.logo{
    cursor: pointer;
}
nav li{
    display: inline-block;
    padding: 0px 20px;
}
nav li a{
    transition: all 0.5s ease 0s;
}
nav li a:hover{
    color: greenyellow;
    background: #24252A;
    padding: 35px 30px;
    transition: 0.5s;
}
footer li{
    display: inline-block;
    padding: 0px 20px;
}
footer li a{
    transition: all 0.5s ease 0s;
}
footer li a:hover{
    padding: 10px 10px;
    transition: 0.5s;
}