
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Oswald:wght@500&display=swap');

*{
    margin: 0;
}
.navbar-nav.navbar-center { 
    position: absolute; 
    left: 50%; 
    transform: translatex(-50%); 
    font-size: 1.5vw;
    
} 
nav.navbar.navbar-expand-lg.navbar-light.bg-warning.nav-rounded{
    z-index: 1;
   
}

li.nav-item{
    margin-left: 50px;
    
}
div.carousel.slide{
    z-index:-2;
}

.active{
    font-weight: bolder;
    background-color: white;
    
}
.overlay{
    position: absolute;
    z-index: 2;
    font-size: 6.16vw;
    color: white;
    margin-top: 0%;
    border-bottom:2vw #ffc107 solid ;
    font-family: 'Oswald', sans-serif;
  }



@media(min-width:992px){
    .nav-item.active{
       margin-top: 1vw;
        height: 3vw;
    }
    .nav-item:hover{
       border-bottom: 2px solid white;
    }
}

.img-fluid{
    width: 7vw;
}
.mx-auto.d-block.img-fluid{
    width: 30vw;
    background-color:lightgray;
}
.carousel.slide{
    margin-top: 4.5vw;
}
.text-center.heading{
    margin-top: 5vw;
}
@media(max-width:991px){
    .text-center.heading{
        margin-top: 15vw;
    }
    div.container{
        width: 30vw;
        margin-top: 5vw;
    }
    li img.col-xs-3.rounded-circle{
        width:20px;
    }
    .navbar.navbar-nav.mr-auto.navbar-center{
        background-color: #ffc107;
        width: 100%;
        color: black;
    }
    .nav-item:hover{
        background-color:white;
    }
    .active{
        font-weight: bolder;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;      
    }
}
.head{
    font-size:4vw;
    font-family: 'Oswald', sans-serif;
}
small{
    font-weight: bolder;
}
blockquote{
    font-size: 3vw;
    font-family: 'Courier Prime', monospace;
  
}
.dropdown.position-fixed{
    top: 0vw;
}
div.container{
    width:30vw;
    margin-top: 5vw;
}
li img.col-xs-3.rounded-circle{
    width:5vw;
    margin-left: 1vw;
}
ul{
    list-style-type: none;
}
